{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"> 
        <title>PlusTeam - Scale Technology Teams Effectively</title> 
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <meta name="author" content="Themesbrand" />   
        <link rel="shortcut icon" href="{% static 'main/images/favicon.ico' %}">

        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,700|Rubik:300,400,500" rel="stylesheet">

        <!-- pe-icon-7 Css-->
        <link rel="stylesheet" type="text/css" href="{% static 'main/css/pe-icon-7-stroke.css' %}" />

        <!--Material Icon -->
        <link rel="stylesheet" type="text/css" href="{% static 'main/css/materialdesignicons.min.css' %}" />

        <!-- Waves effect Css-->
        <link rel="stylesheet" type="text/css" href="{% static 'main/css/waves.css' %}" />

        <!-- Bootstrap Css-->
        <link rel="stylesheet" type="text/css" href="{% static 'main/css/bootstrap.min.css' %}" />

        <!-- Magnific-popup -->
        <link rel="stylesheet" href="{% static 'main/css/magnific-popup.css' %}">

        <!-- Custom Css -->
        <link rel="stylesheet" type="text/css" href="{% static 'main/css/style.css' %}" />
        <link rel="stylesheet" href="{% static 'main/css/colors/red.css' %}" id="color-opt">

    </head>


    <body data-spy="scroll" data-target="#data-scroll"  data-hijacking="on" data-animation="scaleDown">      
            
        <!-- STRAT NAVBAR -->
        <nav class="navbar navbar-expand-lg fixed-top navbar-custom sticky sticky-dark">
            <div class="container">
                <a class="navbar-brand logo text-uppercase" href="/">
                    PlusTeam
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="mdi mdi-menu"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav navbar-center" id="mySidenav">
                        <li class="nav-item active">
                            <a href="#home" class="nav-link">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="#services" class="nav-link">Services</a>
                        </li>
                        <li class="nav-item">
                            <a href="#features" class="nav-link">Features</a>
                        </li>
                        <li class="nav-item">
                            <a href="#pricing" class="nav-link">Pricing</a>
                        </li>
                        <li class="nav-item">
                            <a href="#team" class="nav-link">Team</a>
                        </li>
                        <li class="nav-item">
                            <a href="#blog" class="nav-link">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a href="#contact" class="nav-link">Contact</a>
                        </li>
                    </ul>
                    <!-- <div class="nav-button ml-auto">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <button type="button" class="btn btn-custom navbar-btn btn-rounded waves-effect waves-light">Try it Free</button>
                            </li>
                        </ul>
                    </div> -->
                </div>
            </div>
        </nav>
        
         <!-- END NAVBAR -->


        <!--START HOME-->
        <section class="section bg-home home-half" id="home" data-image-src="{% static 'main/images/bg-home.jpg' %}">
            <div class="bg-overlay"></div>
            <div class="display-table">
                <div class="display-table-cell">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 offset-lg-2 text-white text-center">
                                <h1 class="home-title">Scale Technology Teams Effectively</h1>
                                <p class="padding-t-15 home-desc">PlusTeam matches and manages top talents in Vietnam, and place them with top companies in the US, Japan, Europe, Singapore.</p>
                                <!-- <p class="play-shadow margin-t-30 margin-l-r-auto"><a href="http://vimeo.com/99025203" class="play-btn video-play-icon"><i class="mdi mdi-play text-center"></i></a></p>   -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-pattern-effect">
                <img src="{% static 'main/images/bg-pattern.png' %}" alt="">
            </div>
        </section>
        <!--END HOME-->

        <!--START SERVICES-->
        <section class="section pt-5" id="services">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <h1 class="section-title text-center">Our Services</h1>
                        <div class="section-title-border margin-t-20"></div>
                        <p class="section-subtitle text-muted text-center padding-t-30 font-secondary">PlusTeam assists companies to build their technology teams in Vietnam.</p>
                    </div>
                </div>
                <div class="row margin-t-30">
                    <div class="col-lg-4 margin-t-20">
                        <div class="services-box text-center hover-effect">
                            <i class="pe-7s-diamond text-custom"></i>
                            <h4 class="padding-t-15">Building Your Remote Working Team</h4>
                            <p class="padding-t-15 text-muted">We specialize in connecting companies to the best talent resources from Vietnam and provides a seamless end-to-end solution for remote team management.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 margin-t-20">
                        <div class="services-box text-center hover-effect">
                            <i class="pe-7s-display2 text-custom"></i>
                            <h4 class="padding-t-15">Recruitment and HR Advice</h4>
                            <p class="padding-t-15 text-muted">We supports you to build your operations with recruitment and HR advice, allowing you to remain focused on your core operations</p>
                        </div>
                    </div>
                    <div class="col-lg-4 margin-t-20">
                        <div class="services-box text-center hover-effect">
                            <i class="pe-7s-piggy text-custom"></i>
                            <h4 class="padding-t-15">Coworking and Office Spaces</h4>
                            <p class="padding-t-15 text-muted">We have a network of plug-and-play office spaces ready for your team. These spaces are private and flexible, ideal for new teams. We can also arrange similar amenities in a range of recommended coworking spaces.</p>
                        </div>
                    </div>
                </div>
                <div class="row margin-t-30">
                    <div class="col-lg-4 margin-t-20">
                        <div class="services-box text-center hover-effect">
                            <i class="pe-7s-science text-custom"></i>
                            <h4 class="padding-t-15">Company Registration</h4>
                            <p class="padding-t-15 text-muted">Start operating your business in Vietnam with investment approval, a business license and bank accounts.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 margin-t-20">
                        <div class="services-box text-center hover-effect">
                            <i class="pe-7s-news-paper text-custom"></i>
                            <h4 class="padding-t-15">Project Management Services</h4>
                            <p class="padding-t-15 text-muted">We help specialize in planning, coordinating, and executing projects according to specific requirements and constraints. The end goal is to complete the project on time and within budget.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 margin-t-20">
                        <div class="services-box text-center hover-effect">
                            <i class="pe-7s-plane text-custom"></i>
                            <h4 class="padding-t-15">Quality Assurance Services</h4>
                            <p class="padding-t-15 text-muted">We provide QA services to help preventing defects and bugs in software products and applications to make sure that the developed software or application meets all standardized quality specifications.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--START SERVICES-->

        <!--END ABOUT US-->
        <section class="section bg-light" id="features">
            <div class="container">
                <div class="row vertical-content">
                    <div class="col-lg-5">
                        <div class="features-box">
                            <h3>PlusTeam AI Platform where You can able to identify the right candidates based on our Customer Requirements. </h3>
                            <p class="text-muted web-desc">The innovations in AI for recruiting are intelligent screening software that automates resume screening, recruiter chatbots that engage candidates in real-time, and digitized interviews that help assess a candidate’s fit.</p>
                            <ul class="text-muted list-unstyled margin-t-30 features-item-list">
                                <li class="">Intelligent screening software.</li>
                                <li class="">Recruiter chatbots.</li>
                                <li class="">Digitized interviews.</li>
                            </ul>
                            <a href="#" class="btn btn-custom margin-t-30 waves-effect waves-light">Learn More <i class="mdi mdi-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="features-img features-right text-right">
                            <img src="{% static 'main/images/online-world.svg' %}" alt="macbook image" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--END ABOUT US-->

        <!--START WEBSITE-DESCRIPTION-->
        <section class="section section-lg bg-web-desc">
            <div class="bg-overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="text-white">End to End Offshoring Services. From A Single Full Time Developer, to a Full Scale Team with Private Office.</h2>
                        <p class="padding-t-15 home-desc">We cater to your needs and manage all the HR matters to give talents a piece of mind while they focus on developing top quality work.</p>
                        <a href="#" class="btn btn-bg-white margin-t-30 waves-effect waves-light mb-5">View Plan & Pricing</a>
                    </div>
                </div>
            </div>
            <div class="bg-pattern-effect">
                <img src="{% static 'main/images/bg-pattern.png' %}" alt="">
            </div>
        </section>
        
        <!--END WEBSITE-DESCRIPTION-->

        <!--START PRICING-->
        <section class="section pt-5" id="pricing">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <h1 class="section-title text-center">Our Pricing</h1>
                        <div class="section-title-border margin-t-20"></div>
                        <p class="section-subtitle font-secondary text-muted text-center padding-t-30"></p>
                    </div>
                </div>
                <div class="row margin-t-50">
                    <div class="col-lg-4">
                        <div class="text-center pricing-box hover-effect">
                            <h4 class="text-uppercase">Build Your Remote Team</h4>
                            <h1>From $2500</h1>
                            <h6 class="text-uppercase text-muted">Billing Per Month</h6>
                            <div class="pricing-border"></div>
                            <div class="plan-features margin-t-30">
                               <!--  <p>Hire Quickly<b class="text-custom"></b></p>
                                <p>The Top 3% Vietnam Talented<b class="text-custom"></b></p>
                                <p>Support: <b class="text-custom">No</b></p>
                                <p><b class="text-custom">1</b> Domain</p>
                                <p><b class="text-custom">No</b> Hidden Fees</p> -->
                            </div>
                            <a href="#" class="btn btn-custom waves-effect waves-light margin-t-30">Hiring Now</a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="text-center pricing-box bg-white hover-effect price-active">
                            <h4 class="text-uppercase">Start operating your business</h4>
                            <h1>From $3200</h1>
                            <h6 class="text-uppercase text-muted">Billing Per Month</h6>
                            <div class="pricing-border"></div>
                            <div class="plan-features margin-t-30">
                           <!--      <p>Bandwidth: <b class="text-custom">10GB</b></p>
                                <p>Onlinespace: <b class="text-custom">500MB</b></p>
                                <p>Support: <b class="text-custom">Yes</b></p>
                                <p><b class="text-custom">10</b> Domain</p>
                                <p><b class="text-custom">No</b> Hidden Fees</p> -->
                            </div>
                            <a href="#" class="btn btn-custom waves-effect waves-light margin-t-30">Hiring Now</a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="text-center pricing-box hover-effect">
                            <h4 class="text-uppercase">Quality Assurance Services</h4>
                            <h1>From $1800</h1>
                            <h6 class="text-uppercase text-muted">Billing Per Month</h6>
                            <div class="pricing-border"></div>
                            <div class="plan-features margin-t-30">
                            <!--     <p>Bandwidth: <b class="text-custom">100GB</b></p>
                                <p>Onlinespace: <b class="text-custom">2 GB</b></p>
                                <p>Support: <b class="text-custom">Yes</b></p>
                                <p><b class="text-custom">Unlimited</b> Domain</p>
                                <p><b class="text-custom">No</b> Hidden Fees</p> -->
                            </div>
                            <a href="#" class="btn btn-custom waves-effect waves-light margin-t-30">Hiring Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--ENd PRICING-->

        <!--START TESTIMONIAL-->
       <!--  <section class="section pt-4" id="team">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <h1 class="section-title text-center">Our Team</h1>
                        <div class="section-title-border margin-t-20"></div>
                        <p class="section-subtitle text-muted text-center font-secondary padding-t-30">We’re taking care of your team in other place.</p>
                    </div>
                </div>
                <div class="row margin-t-50">
                    <div class="col-lg-3 col-sm-6">
                        <div class="team-box text-center hover-effect">
                            <div class="team-wrapper">
                                <div class="team-member">
                                    <img alt="" src="images/team/img-1.jpg" class="img-fluid rounded">
                                </div>
                            </div>
                            <h4 class="team-name">David Vo</h4>
                            <p class="text-uppercase team-designation">CEO</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6">
                        <div class="team-box text-center hover-effect">
                            <div class="team-wrapper">
                                <div class="team-member">
                                    <img alt="" src="images/team/img-2.jpg" class="img-fluid rounded">
                                </div>
                            </div>
                            <h4 class="team-name">Frank Bignone</h4>
                            <p class="text-uppercase team-designation">Technical Advisor</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6">
                        <div class="team-box text-center hover-effect">
                            <div class="team-wrapper">
                                <div class="team-member">
                                    <img alt="" src="images/team/img-4.jpg" class="img-fluid rounded">
                                </div>
                            </div>
                            <h4 class="team-name">Duy Khang Ngo</h4>
                            <p class="text-uppercase team-designation">Strategic Advisor</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6">
                        <div class="team-box text-center hover-effect">
                            <div class="team-wrapper">
                                <div class="team-member">
                                    <img alt="" src="images/team/img-3.jpg" class="img-fluid rounded">
                                </div>
                            </div>
                            <h4 class="team-name">Dang Co-Minh</h4>
                            <p class="text-uppercase team-designation">Financial Advisor</p>
                        </div>
                    </div>

                </div>
            </div>
        </section> -->
        <!--END TESTIMONIAL-->

        <!--START PROCESS-->
        <section class="section bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <h1 class="section-title text-center">Work Process</h1>
                        <div class="section-title-border margin-t-20"></div>
                        <p class="section-subtitle text-muted text-center font-secondary padding-t-30">In an ideal world this website wouldn’t exist, a client would acknowledge the importance of having web copy before the design starts.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 text-center process-left-icon-1">
                        <i class="pe-7s-angle-right"></i>
                    </div>
                    <div class="col-lg-6 text-center process-left-icon-2">
                        <i class="pe-7s-angle-right"></i>
                    </div>
                </div>
                <div class="row margin-t-50">
                    <div class="col-lg-4 plan-line">
                        <div class="text-center process-box">
                            <i class="pe-7s-pen text-custom"></i>
                            <h4 class="padding-t-15">Tell us what you need</h4>
                            <p class="text-muted">Submit your requirement and chat to our specialist - an expert on our team will work to undertand you as a client.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 plan-line">
                        <div class="text-center process-box">
                            <i class="pe-7s-id text-custom"></i>
                            <h4 class="padding-t-15">Work with Hand-Selected Talent</h4>
                            <p class="text-muted">Work with curated talents. We will hand pick talents for your team in first 2 to 4 weeks.</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="text-center process-box">
                            <i class="pe-7s-target text-custom"></i>
                            <h4 class="padding-t-15">The Right Fit, Guaranteed</h4>
                            <p class="text-muted">Grow together - Work with your new team member and focus on output, while PlusTeam will take care of all HR aspects locally.</p>
                        </div>
                    </div>
                    <div class="text-center mx-auto">
                        <a href="#" class="btn btn-custom waves-light waves-effect margin-t-50">Get Started <i class="mdi mdi-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </section>
        <!--END PROCESS-->

        <!--START TESTIMONIAL-->
        <!-- <section class="section" id="testi">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <h1 class="section-title text-center">What they've said</h1>
                        <div class="section-title-border margin-t-20"></div>
                        <p class="section-subtitle text-muted text-center font-secondary padding-t-30">Feedback PlusTeam Services from Our Client.</p>
                    </div>
                </div>
                <div class="row margin-t-50">
                    <div class="col-lg-4">
                        <div class="testimonial-box hover-effect margin-t-30">
                            <img src="images/testimonials/user-2.jpg" alt="" class="img-fluid d-block img-thumbnail rounded-circle">
                            <div class="testimonial-decs">
                                <p class="text-muted text-center mb-0">“The operational costs of running an office. PlusTeam eliminates a significant chunk of the cost and it is a way to overcome our past hiring difficulties.”” </p>
                            </div>
                            <h5 class="text-center text-uppercase padding-t-15">Yusho Liu - <span class="text-muted text-capitalize">Cofounder & CEO Coinhako</span></h5>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="testimonial-box hover-effect margin-t-30">
                            <img src="images/testimonials/user-1.jpg" alt="" class="img-fluid d-block img-thumbnail rounded-circle">
                            <div class="testimonial-decs">
                                <p class="text-muted text-center mb-0">“They managed to find the right developers for us, despite the difficulty of the market. They have a flexible approach to the work and their style complements ours very well.” </p>
                            </div>
                            <h5 class="text-center text-uppercase padding-t-15">Tianwei Liu - <span class="text-muted text-capitalize">Cofounder & CEO Xfers</span></h5>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="testimonial-box hover-effect margin-t-30">
                            <img src="images/testimonials/user-3.jpg" alt="" class="img-fluid d-block img-thumbnail rounded-circle">
                            <div class="testimonial-decs">
                                <p class="text-muted text-center mb-0">“The overall quality and communication with the experienced Agile development management is great. They always work extremely hard to help us meet our needs.” </p>
                            </div>
                            <h5 class="text-center text-uppercase padding-t-15">Matthew Tan - <span class="text-muted text-capitalize">CEO EtherScan</span></h5>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
        <!--END TESTIMONIAL-->

        <!--START GET STARTED-->
        <section class="section section-lg bg-get-start">
            <div class="bg-overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2 text-center">
                        <h1 class="get-started-title text-white">Let's Get Started</h1>
                        <div class="section-title-border margin-t-20 bg-white"></div>
                        <p class="section-subtitle font-secondary text-white text-center padding-t-30"></p>
                        <a href="#" class="btn btn-bg-white waves-effect margin-t-20 mb-4">Get Started <i class="mdi mdi-arrow-right"></i> </a>
                    </div>
                </div>
            </div>
            <div class="bg-pattern-effect">
                <img src="{% static 'main/images/bg-pattern-light.png' %}" alt="">
            </div>
        </section>
        <!--END GET STARTED-->

        <!-- START BLOG -->
        
        {% block blog %}
        {% endblock %}
        <!-- END BLOG -->

        <!-- CONTACT FORM START-->
        <section class="section " id="contact">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <h1 class="section-title text-center">Get In Touch</h1>
                        <div class="section-title-border margin-t-20"></div>
                        <p class="section-subtitle text-muted text-center font-secondary padding-t-30"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="mt-4 pt-4">
                            <p class="mt-4"><span class="h5">Office Address:</span><br> <span class="text-muted d-block mt-2">Level 8, Serepok Anh Minh Tower, 56 Nguyen Dinh Chieu, Dakao ward, District 1, Ho Chi Minh City.</span></p>
                            <p class="mt-4"><span class="h5">Working Hours:</span><br> <span class="text-muted d-block mt-2">9:00AM To 6:00PM</span></p>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="custom-form mt-4 pt-4">
                            <div id="message"></div>
                            <form method="post" action="" id="contact-form">
                            {% csrf_token %}
                                
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group mt-2">
                                                <input name="email" id="email" type="email" class="form-control" placeholder="Your email*" >
                                            </div>
                                        </div>                                
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group mt-2">
                                                <input name="content" id="comments" type="text" class="form-control" placeholder="Your message...">
                                            </div>
                                        </div>
                                    </div>
                                
                                    <div class="row">
                                        <div class="col-lg-12 text-right">
                                            <input type="submit" id="submit" name="send" class="submitBnt btn btn-custom" value="Send Message">
                                            <div id="simple-msg"></div>
                                        </div>
                                    </div>
                            </form>
                        </div>  
                    </div>
                </div>
            </div>
        </section> 
        <!-- CONTACT FORM END-->


        <!--START SOCIAL-->
        <section class="cta bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <ul class="list-inline social margin-t-20">
                            <li class="list-inline-item"><a href="" class="social-icon"><i class="mdi mdi-facebook"></i></a></li>
                            <li class="list-inline-item"><a href="" class="social-icon"><i class="mdi mdi-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="" class="social-icon"><i class="mdi mdi-linkedin"></i></a></li>
                            <li class="list-inline-item"><a href="" class="social-icon"><i class="mdi mdi-google-plus"></i></a></li>
                            <li class="list-inline-item"><a href="" class="social-icon"><i class="mdi mdi-dribbble"></i></a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 margin-t-30">
                        <p class="margin-b-0 contact-title"><i class="pe-7s-call"></i> &nbsp;+84931959588</p>
                    </div>
                    <div class="col-lg-3 margin-t-30 text-right">
                        <p class="contact-title"><i class="pe-7s-mail-open"></i>&nbsp; Support@plusteam.io</p>
                    </div>
                </div>
            </div>
        </section>
        <!--END SOCIAL-->


        <!--START FOOTER-->
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 margin-t-20">
                        <h4>PlusTeam</h4>
                        <div class="text-muted margin-t-20">
                            <ul class="list-unstyled footer-list">
                                <li><a href="#">Home</a></li>
                                <li><a href="#">About us</a></li>
                                <li><a href="#">Careers</a></li>
                                <li><a href="#">Contact us</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 margin-t-20">
                        <h4>Information</h4>
                        <div class="text-muted margin-t-20">
                            <ul class="list-unstyled footer-list">
                                <li><a href="#">Terms & Condition</a></li>
                                <li><a href="#">About us</a></li>
                                <li><a href="#">Jobs</a></li>
                                <li><a href="#">Bookmarks</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 margin-t-20">
                        <h4>Support</h4>
                        <div class="text-muted margin-t-20">
                            <ul class="list-unstyled footer-list">
                                <li><a href="">FAQ</a></li>
                                <li><a href="">Contact</a></li>
                                <li><a href="">Disscusion</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 margin-t-20">
                        <h4>Subscribe</h4>
                        <div class="text-muted margin-t-20">
                            <p></p>
                        </div>
                        <form class="form subscribe">
                            <input placeholder="Email" class="form-control" required>
                            <a href="#" class="submit"><i class="pe-7s-paper-plane"></i></a>
                        </form>
                    </div>
                </div>
            </div>
        </footer>
        <!--END FOOTER-->

        <!--START FOOTER ALTER-->
        <div class="footer-alt">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="float-left pull-none ">
                            <p class="copy-rights text-muted"><script>document.write(new Date().getFullYear())</script> ©PlusTeam</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <!--START FOOTER ALTER-->

        <!-- Style switcher -->
        <div id="style-switcher" style="left: 0px;">
            <div>
                <h3>Select your color</h3>
                <ul class="pattern">
                    <li>
                        <a class="color1" href="#"></a>
                    </li>
                    <li>
                        <a class="color2" href="#"></a>
                    </li>
                    <li>
                        <a class="color3" href="#"></a>
                    </li>
                    <li>
                        <a class="color4" href="#"></a>
                    </li>
                    <li>
                        <a class="color5" href="#"></a>
                    </li>
                    <li>
                        <a class="color6" href="#"></a>
                    </li>  
                    <li>
                        <a class="color7" href="#"></a>
                    </li>
                    <li>
                        <a class="color8" href="#"></a>
                    </li>                   
                </ul>
            </div>
            <div class="bottom">
                <a href="#" class="settings rounded-right"><i class="mdi mdi-settings mdi-spin"></i></a>
            </div>
        </div>
        <!-- end Style switcher --> 

        <!-- JAVASCRIPTS -->
         <script src="{% static 'main/js/jquery.min.js' %}"></script>
        <script src="{% static 'main/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'main/js/scrollspy.min.js' %}"></script>
        <!-- Sticky Header -->
        <script src="{% static 'main/js/jquery.sticky.js' %}"></script>
        <!-- Waves Effect js -->
        <script src="{% static 'main/js/waves.min.js' %}"></script>
        <!-- Magnific Popup -->
        <script src="{% static 'main/js/jquery.magnific-popup.min.js' %}"></script>
        <!-- Jquery easing -->                                                      
        <script src="{% static 'main/js/jquery.easing.min.js' %}"></script>
        <!-- switcher js -->
        <script src="{% static 'main/js/switcher.js' %}"></script>
        <script src="{% static 'main/js/app.js' %}"></script>

      </body>
</html>